<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>
      <h1>Ryanair</h1>
    </md-card-title>
    <md-card-subtitle>
      <h2>
        Always "counting" better
      </h2>
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://www.aerotime.aero/upload/article-images/Atnaujintas-Ryanair-%C5%BEiemos-sezono-tvarkara%C5%A1tis.-Ryanair-l%C4%97ktuvas.jpg">
  <md-card-content>
    <h2 class="text-center">
      <!-- TODO: use async pipe -->
      {{counter}}
    </h2>
  </md-card-content>
  <!-- TODO: Add click event -->
  <md-card-actions class="text-center">
    <button md-raised-button color="accent">
      <md-icon class="primary-color">
        add
      </md-icon>
    </button>
    <!-- TODO: Add click event -->
    <button md-raised-button color="accent">
      <md-icon class="primary-color">
        remove
      </md-icon>
    </button>
  </md-card-actions>
</md-card>
